<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%t] - %m%n"/>
        </Console>
        <RollingFile name="file"
                     fileName="${sys:user.home}/.RomRaider/rr_system.log"
                     filePattern="${sys:user.home}/.RomRaider/rr_system-%i.log">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%t] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
